.objava{
    width: 80%;
    background-color: #ebf2fa;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 20px 10px 20px;
    display: inline-block;
}
.autor{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}
small{
    font-size: 14px;
    opacity: 0.8;
}
.txt{
    margin-bottom: 0;
}
img{
    max-width: 64px;
    margin-top: -60px;
    margin-right: 10px;
}
.btn-colorc{
    background-color: #0e1c36 !important;
    color: #fff !important;
    
}
.delete{
    display: block;
    float:right;
    color: red;
    font-weight: 800;
    text-decoration: none;
}